body {
  margin:0;
  padding:0;
  font-family: 'Changa One', cursive;
  background-color: #bdc3c7;
}

h1 {
  text-align: center;
}

.photos_block {
  width:100%;
  position:relative;
  overflow: hidden;
  height:100vh;
}
.photos {
  padding:0;
  display: flex;
  flex-direction: row;
  width:300%;
  animation-name: AutoSlide;
animation-duration: 12s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}
.photos li {
  list-style: none;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
}

img {
  width:100%;
  position:relative;
  z-index: 1;
}

.photo_title {
  color:white;
  height:50px;
  position:absolute;
  z-index: 2;
  width:100%;
  animation-name: show_title;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-align: center;
  font-size: 40px;
  overflow: hidden;

}
.photo_text {
  color:white;
  position:absolute;
  z-index:2;
  width:100%;
  margin-top:5%;
  display:none;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: padding-box;
}

.photos li:hover .photo_text {
  display:block;
  animation-name: show_text;
  animation-duration: 2s;
}
@keyframes AutoSlide {
    0%, 15%, 100% {
        margin-left: 0%; /*1ère image*/
    }
    20% {
      margin-left: 0%;
    }
    35%, 50% {
        margin-left: -100%; /*2ème image*/
    }
    40% {
        margin-left: -100%;
    }
    70%, 85% {
        margin-left: -200%; /*3ème image*/
    }
    75% {
      margin-left: -200%;
    }
}

@keyframes show_title{
  0%, 75%, 100%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }
}

@keyframes show_text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
CSS du Slider rejeté
*/
/*section {
    height: 525px;
}

.photo_1 {
  width:100%;
  height:500px;
  background-image: url("../images/image.jpeg");
  background-size: cover;
  animation-name: move_img;
  animation-iteration-count: infinite;
  animation-duration: 18s;
  z-index: 2;
  position: absolute;
}

.photo_2 {
  width:100%;
  height:500px;
  background-image: url("../images/image2.jpeg");
  background-size: cover;
  animation-name: move_img2;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  z-index: 3;
  position: absolute;
}

.photo_3 {
  width:100%;
  height:500px;
  background-image: url("../images/image3.jpeg");
  background-size: cover;
  animation-name: move_img3;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  z-index: 1;
  position: absolute;
}

@keyframes move_img {
  0% {
    margin-left: 0%;
    z-index: 2;
  }
  33% {
    margin-left: 100%;
  }
  40% {
    z-index: 3;
  }
  66% {
    margin-left: 200%;
  }
  73% {
    z-index: 1;
  }
  100% {
    margin-left: 0%;
    z-index: 2;
  }
}

@keyframes move_img2 {
  0% {
    margin-left: 100%;
    z-index: 3;
  }
  33% {
    margin-left: 200%;
  }
  40% {
    z-index: 1;
  }
  66% {
    margin-left: 0%;
  }
  73% {
    z-index: 2;
  }
  100% {
    margin-left: 100%;
    z-index: 3;
  }
}

@keyframes move_img3 {
  0% {
    margin-left: 200%;
    z-index: 1;
  }
  33% {
    margin-left: 0%;
  }
  40% {
    z-index: 2;
  }
  66% {
    margin-left: 100%;
  }
  73% {
    z-index: 3;
  }
  100% {
    margin-left: 200%;
    z-index: 1;
  }
}*/
